<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Profile</title>
</head>

<body>
    <ul>
        <%= listProfiles.forEach(item => { %>
        <ul>
            <%= item.name%>
        </ul>
        <% } %>
    </ul>
</body>
</html>